n8n-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "elei-lead",
        "options": {}
      },
      "id": "2c99421f-6299-4f6f-af5b-edfbf2de1cf1",
      "name": "Webhook - Lead Gen",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-1200, 112],
      "webhookId": "65bfefe3-8676-4e86-9e6a-145aa636915e"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\n\nconst locationQuery = body.locationQuery || [\"Ontario, Canada\"];\nconst maxLeads = Number(body.maxLeads || 5);\nconst searchStringsArray = body.searchStringsArray || [\"HVAC contractor\"];\n\nreturn [{\n  json: {\n    locationQuery: Array.isArray(locationQuery) ? locationQuery : [locationQuery],\n    maxLeads,\n    searchStringsArray\n  }\n}];"
      },
      "id": "17ca3fdd-6e59-4268-801e-81cb5c30224f",
      "name": "Validate & Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1008, 112]
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/acts/{{ $('Webhook - Lead Gen').item.json.body.workflowConfig.apify.actor || 'compass~google-maps-extractor' }}/run-sync-get-dataset-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Webhook - Lead Gen').item.json.body.workflowConfig.apify.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  includeWebResults: false,\n  language: $('Webhook - Lead Gen').item.json.body.workflowConfig.apify.language || \"en\",\n  locationQuery:$json.locationQuery[0] ,\n  maxCrawledPlacesPerSearch: $('Webhook - Lead Gen').item.json.body.workflowConfig.apify.maxCrawledPlacesPerSearch || $json.maxLeads,\n  maxImages: 0,\n  maximumLeadsEnrichmentRecords: 0,\n  scrapeContacts: false,\n  scrapeDirectories: false,\n  scrapeImageAuthors: false,\n  scrapePlaceDetailPage: false,\n  scrapeReviewsPersonalData: false,\n  scrapeTableReservationProvider: false,\n  searchStringsArray: $json.searchStringsArray,\n  skipClosedPlaces: true\n} }}",
        "options": {}
      },
      "id": "fc7e2691-d4ec-4500-a6d6-3462e494874c",
      "name": "Apify Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-752, 112]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {
              "id": "cd-title",
              "name": "title",
              "type": "string",
              "value": "={{ ($json.title || $json.name || '').toString().trim() }}"
            },
            {
              "id": "cd-phone",
              "name": "phone",
              "type": "string",
              "value": "={{ ($json.phoneUnformatted || $json.phone || '').toString().trim() }}"
            },
            {
              "id": "cd-website",
              "name": "website",
              "type": "string",
              "value": "={{ $json.website ? ($json.website.toString().trim().match(/^https?:\\/\\//i) ? $json.website.toString().trim() : 'https://' + $json.website.toString().trim()) : '' }}"
            },
            {
              "id": "cd-address",
              "name": "address",
              "type": "string",
              "value": "={{ ($json.address || '').toString().trim() }}"
            },
            {
              "id": "cd-city",
              "name": "city",
              "type": "string",
              "value": "={{ ($json.city || '').toString().trim() }}"
            },
            {
              "id": "cd-category",
              "name": "categoryName",
              "type": "string",
              "value": "={{ $json.categoryName || (Array.isArray($json.categories) ? $json.categories.join(', ') : '') }}"
            },
            {
              "id": "cd-reviews",
              "name": "reviewsCount",
              "type": "number",
              "value": "={{ Number($json.reviewsCount) || 0 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9a23fd0c-7083-44b3-a8b2-5e06c60b8286",
      "name": "Clean Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [-560, 112]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has_website",
              "leftValue": "={{ $json.website }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c7084c66-afbc-4936-98ef-cc2da60acfda",
      "name": "Has Website?",
      "type": "n8n-nodes-base.if",
      "position": [-304, 112],
      "typeVersion": 2,
      "notes": "Only attempt website scrape if a website URL exists. Saves time and avoids errors on businesses with no website."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1HjHHTSu49S4CIMJFg5DohisOyj_1-xdNerVmbtnkMKs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1229111944,
          "mode": "list",
          "cachedResultName": "Elei With Web",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HjHHTSu49S4CIMJFg5DohisOyj_1-xdNerVmbtnkMKs/edit#gid=1229111944"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $('Clean Data').item.json.title }}",
            "Website": "={{ $('Clean Data').item.json.website }}",
            "Phone": "={{ $('Clean Data').item.json.phone }}",
            "City": "={{ $('Clean Data').item.json.city }}",
            "Categories": "={{ $('Clean Data').item.json.categoryName }}",
            "Reviews Count": "={{ $('Clean Data').item.json.reviewsCount }}",
            "Adresse": "={{ $('Clean Data').item.json.address }}",
            "Enriched At": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "35845cc7-b446-4bb3-bf4c-05aacf8eb1b7",
      "name": "With website",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [0, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m3sgz9f4dosGBUok",
          "name": "Manam- Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1HjHHTSu49S4CIMJFg5DohisOyj_1-xdNerVmbtnkMKs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 258283508,
          "mode": "list",
          "cachedResultName": "Elei Without Web",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HjHHTSu49S4CIMJFg5DohisOyj_1-xdNerVmbtnkMKs/edit#gid=258283508"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $('Clean Data').item.json.title }}",
            "Website": "={{ $('Clean Data').item.json.website }}",
            "Phone": "={{ $('Clean Data').item.json.phone }}",
            "City": "={{ $('Clean Data').item.json.city }}",
            "Categories": "={{ $('Clean Data').item.json.categoryName }}",
            "Reviews Count": "={{ $('Clean Data').item.json.reviewsCount }}",
            "Adresse": "={{ $('Clean Data').item.json.address }}",
            "Enriched At": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fc88ec69-d206-42e3-82a8-306098d08f4b",
      "name": "Without Web",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [0, 192],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m3sgz9f4dosGBUok",
          "name": "Manam- Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { message: `Lead generation complete. ${$items().length} lead(s) processed.` } }}",
        "options": {}
      },
      "id": "43aa8720-72be-43db-b235-3b6fe496ac96",
      "name": "Webhook Response1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [288, 96]
    }
  ],
  "connections": {
    "Webhook - Lead Gen": {
      "main": [[{ "node": "Validate & Normalize Input", "type": "main", "index": 0 }]]
    },
    "Validate & Normalize Input": {
      "main": [[{ "node": "Apify Request", "type": "main", "index": 0 }]]
    },
    "Apify Request": {
      "main": [[{ "node": "Clean Data", "type": "main", "index": 0 }]]
    },
    "Clean Data": {
      "main": [[{ "node": "Has Website?", "type": "main", "index": 0 }]]
    },
    "Has Website?": {
      "main": [
        [{ "node": "With website", "type": "main", "index": 0 }],
        [{ "node": "Without Web", "type": "main", "index": 0 }]
      ]
    },
    "With website": {
      "main": [[{ "node": "Webhook Response1", "type": "main", "index": 0 }]]
    },
    "Without Web": {
      "main": [[{ "node": "Webhook Response1", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5ed296676961c5ed41c639e1683078855c8f50e4c5aa1466963b063405345b3e"
  }
}
